#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

span:last-child {
  color: red;
  cursor: pointer;
}
label {
  display: flex;
  justify-content: space-between;

}
.text-input {
  margin-left: 45px;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}

input:checked + span {
  text-decoration: line-through;
}